.pay{
    box-sizing: border-box;
    padding: 20px 10px 10px 10px;
    overflow: hidden;
    width: 100%;
    background-image: url(../images/bgcke.png);
    background-repeat: no-repeat;
    background-size: 100%;
    /deep/ .van-nav-bar {
        background-color: transparent;
    }

    /deep/ .van-nav-bar .van-icon {
        color: #ffffff;
    }
    .addressbox{
        margin-top: 20px;
    }
}